body{
    background-color:antiquewhite;
}
ol{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
li{
    float: left;
    padding: 15px 50px;
    
}
li a{
    font-size: 20px;
    text-decoration: none;
    color: chartreuse;
    font-style: oblique;
}
li:hover:not(.logo){
    background-color: rgb(48, 35, 117);
}
li:hover a{
    color: rgb(245, 88, 15);
}
.active{
    background-color: rgb(48, 35, 117);
}
li p{
    display: inline;
    color:rgb(255, 155, 5);
    font-size: 20px;
}
.logo{
    background-color: rgb(182, 18, 53);
}
img{
    width: 100%;
    height: 900px;
}
.container{
    position: relative;
}
.center{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    
}
.atag{
    position: absolute;
    top: 95%;
    right: 50%;
    text-align: center;
    border: 3px solid black;
    width: 100px;
    height: 40px;
    background-color: rgb(50, 102, 116);
    text-decoration: none;
    padding-top: 15px;
}
.atag:hover{
    background-color: aqua;

}

input[type=text],select{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgb(233, 160, 118);
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: rgb(64, 207, 46);
    color: white;
    padding: 12px 18px;
    margin: 28px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    

}
input[type=submit]:hover {
    background-color: green;
}
div{
    border-radius: 5px;

    padding: 20px;
}
input[type=number],select{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgb(233, 160, 118);
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email],select{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgb(233, 160, 118);
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],textarea{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgb(233, 160, 118);
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
}